<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
		
		
		<!--
		<scripts src = '/public/stylesheets/something.css'>
		-->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
		<link rel="stylesheet" href="stylesheets/project3.css">
	</head>

	<body>
		<div id="main" class="container">
			<h1>RadLinkCounter</h1>
			<%- body %> 
		</div>	
	</body>	
</html>