<!-- layout.ejs -->

<!doctype html>
<html>
	<head>
		<!--
		<link rel='stylesheet' href=''>
		<scripts src = '/public/stylesheets/something.css'>
		-->
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
	</head>

	<body>

		<h1>my great app</h1>

		<%- body %> 
		
		
	</body>
	
</html>